-- ======================================
-- Export pour InfinityFREE
-- Date: 2026-02-20 16:40:25
-- ======================================


-- TABLE: users
DROP TABLE IF EXISTS `users`;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  `prenom` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `telephone` varchar(15) NOT NULL,
  `role` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `date_inscription` datetime DEFAULT current_timestamp(),
  `has_whatsapp` tinyint(1) NOT NULL DEFAULT 0,
  `statut_compte` varchar(10) NOT NULL DEFAULT 'actif',
  `photo_profil` varchar(255) DEFAULT NULL,
  `couleur_theme` varchar(30) DEFAULT NULL,
  `bio` text DEFAULT NULL,
  `is_blocked` tinyint(1) DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

INSERT INTO `users` (`id`, `nom`, `prenom`, `email`, `telephone`, `role`, `password`, `date_inscription`, `has_whatsapp`, `statut_compte`, `photo_profil`, `couleur_theme`, `bio`, `is_blocked`, `created_at`, `updated_at`) VALUES ('12', 'Ngassai', 'Nathan', 'admin_test@example.com', '+242000000001', 'admin', '$argon2id$v=19$m=65536,t=4,p=3$a0xCN2hrYUtndTdJby9PZg$4YiNEEmwov+BjWxj2l6oy4ByMQn2fRGSME9UpJ9fQDY', '2026-02-19 22:12:32', '0', 'actif', 'default.png', NULL, NULL, '0', '2026-02-19 22:58:58', NULL);
INSERT INTO `users` (`id`, `nom`, `prenom`, `email`, `telephone`, `role`, `password`, `date_inscription`, `has_whatsapp`, `statut_compte`, `photo_profil`, `couleur_theme`, `bio`, `is_blocked`, `created_at`, `updated_at`) VALUES ('13', 'Dupont', 'Alice', 'user_test@example.com', '+242000000002', 'candidat', '$argon2id$v=19$m=65536,t=4,p=3$Y1dSLm8wRmVMcEx3c1UuVA$BLSjtgxSSIC4/np0NwAMtKHEgdatKGY5P/rg0M4WqZQ', '2026-02-19 22:12:32', '0', 'actif', 'default.png', NULL, NULL, '0', '2026-02-19 22:58:58', NULL);
INSERT INTO `users` (`id`, `nom`, `prenom`, `email`, `telephone`, `role`, `password`, `date_inscription`, `has_whatsapp`, `statut_compte`, `photo_profil`, `couleur_theme`, `bio`, `is_blocked`, `created_at`, `updated_at`) VALUES ('14', 'aa', 'aa', 'aa@gmail.com', '+242 06 666 121', 'candidat', '$argon2id$v=19$m=65536,t=4,p=3$bEc3amMua0ZpTUFKVTI2Yw$5Hz2Oa2d4X9R7nyNVS3JlIjO8QkA2nPPnX7Xskq0sfs', '2026-02-19 22:22:22', '0', 'actif', 'profile_1771536301_14.jpg', NULL, NULL, '0', '2026-02-19 22:58:58', '2026-02-20 14:46:36');


-- TABLE: jobs
DROP TABLE IF EXISTS `jobs`;
CREATE TABLE `jobs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titre` varchar(255) NOT NULL,
  `description` longtext NOT NULL,
  `lieu` varchar(255) NOT NULL,
  `salaire` double NOT NULL,
  `type_contrat` varchar(255) NOT NULL,
  `user_id` int(11) NOT NULL,
  `date_publication` datetime DEFAULT current_timestamp(),
  `image` varchar(255) DEFAULT NULL,
  `id_recruteur` int(11) DEFAULT NULL,
  `image_offre` varchar(255) DEFAULT NULL,
  `competences` text DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk` (`user_id`),
  CONSTRAINT `fk` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

INSERT INTO `jobs` (`id`, `titre`, `description`, `lieu`, `salaire`, `type_contrat`, `user_id`, `date_publication`, `image`, `id_recruteur`, `image_offre`, `competences`, `updated_at`) VALUES ('7', 'Developeur', 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa', 'Brazzaville', '0', 'CDI', '15', '2026-02-20 14:23:47', NULL, NULL, 'job_7_1771594382.jpeg', 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa', '2026-02-20 14:33:02');
INSERT INTO `jobs` (`id`, `titre`, `description`, `lieu`, `salaire`, `type_contrat`, `user_id`, `date_publication`, `image`, `id_recruteur`, `image_offre`, `competences`, `updated_at`) VALUES ('8', 'Devloppeur', 'zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz', 'Brazzaville', '0', 'CDI', '15', '2026-02-20 14:24:58', NULL, NULL, 'job_15_1771593898.jpg', 'zzzzzzzzzzzzzzzzzzzzzzzzzzz', NULL);


-- TABLE: candidatures
DROP TABLE IF EXISTS `candidatures`;
CREATE TABLE `candidatures` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_utilisateur` int(11) NOT NULL,
  `id_offre` int(11) NOT NULL,
  `nom_cv` varchar(255) NOT NULL,
  `date_postulation` timestamp NOT NULL DEFAULT current_timestamp(),
  `statut` varchar(20) NOT NULL DEFAULT 'en_attente',
  `recruteur_id` int(11) DEFAULT NULL,
  `recruteur_message` text DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

INSERT INTO `candidatures` (`id`, `id_utilisateur`, `id_offre`, `nom_cv`, `date_postulation`, `statut`, `recruteur_id`, `recruteur_message`, `updated_at`) VALUES ('4', '14', '8', 'cv_1771595672_14.pdf', '2026-02-20 14:54:32', 'Refus├®', '15', 'REFUS', '2026-02-20 15:11:01');


-- TABLE: feedbacks
DROP TABLE IF EXISTS `feedbacks`;
CREATE TABLE `feedbacks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `sujet` varchar(100) DEFAULT NULL,
  `message` text DEFAULT NULL,
  `date_envoi` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `feedbacks_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

INSERT INTO `feedbacks` (`id`, `user_id`, `sujet`, `message`, `date_envoi`) VALUES ('2', '15', 'essaie', 'jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj', '2026-02-20 14:40:53');


-- TABLE: activity_logs
DROP TABLE IF EXISTS `activity_logs`;
CREATE TABLE `activity_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `action` varchar(100) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `activity_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- ======================================
-- FIN DE L'EXPORT
-- ======================================
